@import "colors";

html, body {
	height:100%;
	width:100%;
}

body {
	font:400 16px/1.625 'Open Sans', sans-serif;
	color:$black;
	position: relative;
}

img {
	// width:100%;
	// height:auto;
}

.wrapper {
	width:100%;
	min-height: 100%;
	height:100%;
	margin:0 auto;

	&:after {
  	content: "";
  	display: block;
	}
}

main {
	position: relative;
	min-height: 100%;
	width:100%;
}

section {
	position: relative;
	width:100%;
	height:auto;
	background:white;
}

.content {
	position: relative;
	display:flex;
	flex-wrap:wrap;
	width:100%;
	height:100%;
	max-width: 1120px;
	margin:0px auto;
	padding:70px 25px 70px 25px;
	overflow:hidden;
}

a {
	text-decoration:none;
	color:$teal;
	transition:all .2s ease;

	&:hover {
		color:$darkTeal;
	}
}

h1, h2, h3, h4, h5, h6 {
	color:$darkTeal;
	font:800 80px/1.2 "Avenir",sans-serif;
	margin:0;
	width:100%;
}

h1 {
	font:800 50px/1.2 "Avenir",sans-serif;
}

h2 {
	font-size:34px;
}

h3 {
	font-size:20px;
}

h4 {
	font-size:18px;
	font-weight: 500;
}

h5 {
	font-size:18px;
	font-weight: 100;
	color:$teal;
}

h6 {
	font-size:14px;
	font-weight: 400;
}

p {
	width:100%;
}

ul {
	position: relative;

	li {
		position: relative;
		margin-left:14px;

		&:before {
			content:'–';
			color:$green;
			position: absolute;
			left:-14px;
			top:0px;
		}
	}
}

ol {
	list-style: none;
	counter-reset: li;
	padding-left:0px;

	li {
		position:relative;
		margin-left:20px;
		counter-increment: li;

		&:before {
			content: counter(li);
			color: $green;
			display: inline-block;
			text-align: right;
			direction: rtl;
			width:1em;
			position: absolute;
			left:-25px;
			top:0;
		}
	}
}

.hr-container {
	position: relative;
	width:100%;
	height:auto;
	margin:20px 0;
}

hr {
	border: 0;
  margin:0;
  padding:0;
}

blockquote {
	border-left:1px solid $medGray;
	margin: 1.5em 0px;
	padding: .5em 1em;
}

.button, .woocommerce a.button, .woocommerce .cart input.button, #mc-embedded-subscribe.button {
	-webkit-appearance:none !important;
	font-family: 'Avenir', sans-serif;
	cursor:pointer;
	position: relative;
	text-align: center;
	padding:14px 34px 10px 20px;
	margin-top:20px;
	width:auto;
	font-weight:500;
	font-size:14px;
	line-height: 1;
	text-transform: uppercase;
	color:white;
	background:$teal;
	box-shadow: 0px 3px 4px -2px rgba(0,0,0,0.45);
	transition:all .2s ease-out;
	border:0px solid $teal;

	a {
		display: block;
		width: 100%;
		height:100%;
		position: absolute;
		top:0;
		left:0;
	}

	&:after {
		content: "";
		position: absolute;
		top:14px;
		right:14px;
		width:10px;
		height:10px;
		background-image: url('./img/button-arrow-white.svg');
		transition:all .2s ease;
	}

	&:hover {
		box-shadow: 0px 1px 1px -1px rgba(0,0,0,0.65);

		&:after {
			transform: translateX(-2px);
		}
	}
}

.white-button {
	background: white;
	color:$teal;

	&:after {
		background-image: url('./img/button-arrow-teal.svg');
	}
}

.text-button {
	background: white;
	color:$teal;
	box-shadow: 0px 3px 4px -2px rgba(0,0,0,0);

	&:after {
		background-image: url('./img/button-arrow-teal.svg');

	}

	&:hover {
		box-shadow: 0px 1px 1px -1px rgba(0,0,0,0);
	}
}

.drop-shadow {
	box-shadow: 0px 2px 4px -2px rgba(0,0,0,0.5);
}


// 1024px And Below
@media screen and (max-width: 1024px){


}


// 767px And Below
@media screen and (max-width: 767px){

	.custom-sidebar {
		order:2;
	}

	.fullbar {
		padding-left:0;
		order:1;
	}
}
