@import "colors";

.archive-page {	

	p:empty {
   display: none;
	}

	.archive-hero {
		background:$lightGray;
		margin-bottom:70px;

		.content {
			padding-top:50px;
			padding-bottom:50px;
		}
	}

	h2 {
		color:$green;
		margin:0;	
		padding-top:8px;
		line-height: 1;	
	}

	.article-line {	
		width:100%;
		padding:0;
		border-bottom:1px solid $green; 
	}

	.archive-section {
		
		.content {
			padding-top:0px;
			justify-content: space-between;
		}
	}

	.archive-group {
		width:75%;
	}

	.ajax-load-more-wrap {
		width:100%;
	}

	
	.single-article-preview {
		display: flex;
		flex-wrap:wrap;
		align-items:flex-start;
		position: relative;
		width:100%;
		height:auto;
		text-align: left;
		margin-bottom:100px;
		padding-right:30px;
		

		h4 {
			color:black;
			font-weight:800;
			font-size:30px;
			text-transform: uppercase;
			text-align: left;
			margin:25px 0 0px 0;

			a {
				color:black;
			}
		}

		.article-preview-image {
			width:60%;
			
			img {
				width:100%;
				height:auto;
			}
		}

		.article-preview-content {
			width:40%;
			padding-left:25px;
		}

		.article-author {
			width:100%;
			margin-bottom: 20px;
		}
		
		.article-excerpt {

		}

		.button {
			display: inline-block;
	    margin-top:15px;
	    width: auto;
	    min-width: 0px;
	    font-size: 14px;
	    margin-top:30px;
	    transition:all .3s;

	    &:hover {
	    	background-color:$green;
	    	color:white;
	    }
		}
	}


	.archive-sidebar{
		/*border-left:2px solid $green;*/
		width:20%;
		text-align:left;

		a {
			font-size:14px;
			color:$darkGray;
			transition:color .3s;

	    &:hover {
	    	color:$teal;
	   	}
		}

		h3 {
			text-transform: uppercase;
			position: relative;
			width:100%;
			/*top:30px;
			left:0px;*/
			text-align: left;
			padding:0px 0px 4px 0px;
			/*background-color: $lightGray;*/
			/*border-top: 1px solid $teal;*/
			border-bottom: 1px solid $teal;
			color:$teal;
			font-size: 14px;
			line-height: 1.5;
			font-weight: 700;
			margin-bottom: 7px;
		}

		ul {
			margin-bottom:28px;
		}

		li {
			padding:4px 0px 6px 0px;
			font-weight:700;
			line-height: 1.1;

			a {
				
				&:after {
					font-weight:800;
					content:" > ";
		    	color:$teal;
				}
			}
		}

		.search, .wpp-date {
			display: none;
		}

		.tagcloud {
			padding:8px 0px 8px 0px;

			a {
				color:$darkGray;
    		font-size: 14px !important;
    		line-height: 1.6em;
		    display: inline-block;
		    font-weight: 700;
		  
		    &:after {
		    	content:" / ";
		    	color:$teal;
		    }
		  }
		}
	}

	.pagination {
		padding:15px 0;
		background:$green;
		color:white;

		a {
			color:white;
		}
	}
}


// 1024px And Below
@media screen and (max-width: 1024px){

	.archive-page {

		p {
			width:90%;
		}
  }
}


// 767px And Below
@media screen and (max-width: 767px){

	.archive-page {

		p {
			width:100%;
			padding-left:0;
			padding-right:0;
		}


		.single-article-preview {
			width:100%;
			margin-bottom:20px;
		}

		.articles-section {
		
			.content {
				flex-wrap:wrap;
				padding-top:0px;
				justify-content: space-around;
			}
		}

		.archive-hero {
			margin-bottom:20px;
		}

		.archive-group {
			width:100%;
			order:2;
		}

		.archive-sidebar {
			width:100%;
			order:1;
		}

		.sidebar-widget {
			display: none;
		}

		.single-article-preview {
			margin-bottom:70px;
			padding-right:0px;

			.article-preview-image {
				width:100%;
			}

			.article-preview-content {
				width:100%;
				padding-left:0;
				padding-top:10px;
			}
		}
	}
} //End 767px