$black:#0A0A0A;

$green:#A8C643;
$lightGreen:#D0EF68;
$offGreen:#FBFCF7;

$teal:#3E8B94;
$darkTeal:#303C42;

$offWhite:#F5F5F6;
$lightGray:#E8E8E9;
$medGray:#B3B3B3;
$gray:#7F7F7F;
$darkGray:#585858;
