@import "colors";

.insights-page {

	.insights-category-buttons {

		.content {
			width:100%;
			height:auto;
			flex-wrap: wrap;
			justify-content: center;
			padding-top:45px;
			padding-bottom:45px;
		}

		.button {
			position: relative;
			background: white;
			border: 1px solid $teal;
			color:$teal;
			display: flex;
			align-items: stretch;
			padding:0px;
			margin: 10px 12px;

			&:after {
				display: none;
			}
		}
	}

	.insights-button-term {
		padding:15px 12px 10px 12px;
	}

	.insights-button-count {
		display: flex;
		justify-content: center;
		align-items: center;
		height:100%;
		width:auto;
		padding:14px 12px 10px 12px;
		border-left:1px solid $teal;
	}
}

.insight-posts-section {

	.content {
		padding-top:0px;
	}

	.fullbar {

	}

	.custom-sidebar {

	}
}

.single-insight-preview {
	display: flex;
	flex-wrap: wrap;
	border-top: 1px solid $lightGreen;
	padding:35px 0px 50px 0;

	.button {
		display: inline-block;
	}
}

.insight-preview-sponsor-box {
	position: absolute;
	top:0;
	right:0;
	width:auto;
	border-left:1px solid $lightGreen;
	padding:9px 0px 4px 12px;
	font-size:13px;
	font-weight:500;
	color:$lightGreen;
}

.insight-author-date {
	font-size:14px;
	color:$gray;

	a {
		color:$teal;
	}
}

.insight-preview-content {
	display: flex;
	flex-direction: column;
	align-items: flex-start;

	hr {
		margin-top:1em;
		background:$medGray;
		width:20px;
		height:1px;
		text-align: left;
	}
}

.preview-links-area {

}

.pdf-link {
	margin-left:15px;
	display: inline-block;
	font-size:12px;
	font-weight:400;
	color:$teal;
}

// 1024px And Below
@media screen and (max-width: 1024px){

	.insights-page {

  }
}


// 767px And Below
@media screen and (max-width: 767px){

	.insights-page {

	}
} //End 767px
