@import "colors";

.search-results-page {

	.search-hero {

		.content {
			margin: 0 auto;
			text-align: center;
			padding-top:45px;
			padding-bottom:45px;
		}
	}

	h1 {
		color:teal;
		text-align: center;
		margin: 0 auto;
    font-weight: 100;
    color: $teal;
    width: auto;
    border: 1px solid $teal;
    padding: 8px 20px 4px 20px;
    text-transform: uppercase;
		font-size:20px;
	}
}
// 1024px And Below
@media screen and (max-width: 1024px){

}

// 767px And Below
@media screen and (max-width: 767px){

} //End 767px
