@import "colors";

.custom-sidebar {
	position:relative;
	border-top:1px solid $lightGreen;

	.twitter-timeline {
		margin-top:6px !important;
	}
}

.fullbar {
	position:relative;
	padding-left:25px;

	.fullbar-content {
		border-top:1px solid $lightGreen;
		padding:40px 0px;
	}

	h5 {
		margin-bottom:5px;
	}
}


@media screen and (max-width: 767px){

	.fullbar {
		padding-left:0px;
		margin-bottom:50px;
	}
}
