@import "colors";

.single-product-page {

	.content {
		padding-top:10px;
		padding-bottom: 40px;
	}

	.woocommerce-product-gallery__wrapper {

	}

	.product {
		display: flex !important;
		flex-wrap: wrap;	
		background: $lightGray;	
		justify-content: space-around;
		padding: 50px 0 0 0 !important;
	}

	p {
		padding:0;
	}

	h1 {
		font-weight:700;
		font-size:40px;
		text-align: left;
	}

	h2 {
		font-weight:400;
		font-size:30px;
		text-align: left;	
		color: $green;
		padding:20px 0;
	}

	.images {
		width:36% !important;


		img {
			
		}
	}

	.summary {
		width:54% !important;
		text-align: left;
		margin-bottom: 0px !important;
		padding-top:30px !important;

		form {
			display: flex !important;
			flex-wrap: wrap;

			table, tbody, td, tr {
				display: block !important;
			}
		}

		.variations {
			width:100%;
			margin-bottom:7px !important;
		}

		span.price {
			display: block;
			margin-bottom:6px !important;
		}

		select{
	    -webkit-appearance: none !important;
	    -moz-appearance: none !important;
	    appearance: none !important;
	    padding: 8px 5px 5px 8px !important;
		}
	}

	.qty {
		width:40px !important;
		text-align: center !important;
		padding: 7px 0 7px 3px !important;
	}

	.single_add_to_cart_button {
		cursor:pointer !important;
		position: relative !important;
		padding:12px 34px 8px 34px !important;
		margin-top:0px !important;
		width:auto !important;
		min-width:250px !important;
		border: 2px solid $green !important;
		font-weight:800 !important;
		font-size:16px !important;
		text-transform: uppercase !important;
		line-height: 1 !important;
		border-radius:30px !important;
		color:$green !important;
		background:rgba(168, 198, 67, .0) !important;
		
		a {
			display: block;
			width: 100%;
			height:100%;
			position: absolute;
			top:0;
			left:0;	
		}
	}


	.product_title {

	}

	.product_meta {
		display: none;
	}

	.woocommerce-tabs {
		padding-bottom: 0px !important;
		width:100% !important;
		text-align: left !important;
		background: $lightGray;
	}

	.wc-tabs {
		padding:50px 3% 0 3% !important;
		margin-bottom: 0 !important;
		
		&:before {
			border-bottom:2px solid $green !important;
		}

		&:after {
			display:none !important;			
		}

		li {
			border-radius:0 !important;	
			background: #fff;
    	border: 0px solid #fff !important;	
    	padding-top:6px !important;
			
			&:after, &:before {
				display:none !important;			
			}	
		}

		.active {
			border:2px solid $green !important;
			border-bottom:2px solid white !important;
		}
	}

	.panel {
		padding:40px 3% 60px 3%!important;
		background: white !important;
		margin-bottom:0px !important;
		border-bottom: 2px solid $green !important; 
	}

	.related {

		.products-group {
			display: flex;
			flex-wrap:wrap;
			justify-content: space-around;
		}

		.product {
			width:46%;
			height:auto;
			margin:40px 0;
			
			/*The Container For the Image and Title/Price*/
			.woocommerce-LoopProduct-link {
				display: flex;
				flex-wrap: wrap;
				justify-content: space-around;			
				padding:30px 0 50px 0;
				background: $lightGray;

				img {
					width:40%;
					padding-left:2%;
					height:100%;
				}

				.product-info {
					width:48%;
				}

				h2 {
					width:100%;
					margin:0;
					padding:15px 0;
					font-size:24px;
					font-weight: 400;
					text-transform: none;
					color:$darkTeal;
					text-align: left;
				}

				hr {
					width:50px;
					border: 0;
				  height: 1px;
				  background:$green;
				  margin:0;
				  padding:0;
				}

				.price {
					padding-top:15px;
					width:100%;
					margin:0 auto;
					font-size:16px;
					color:$darkTeal;
					font-weight: 700;
					text-align: left;

					span {
						font-weight: 400;
					}
				}
			}

			.button-area {
				/*background: $darkTeal;*/

				.woocommerce-LoopProduct-link {
				display: flex;
				flex-wrap: wrap;
				justify-content: space-between;			
				padding:0;
				}
			}

			.button {
				margin-top:15px;
				margin-bottom:15px;
				font-size: 14px;
				min-width: 0;
			}
		}
	}
	
}


// 1024px And Below
@media screen and (max-width: 1024px){

	.single-product-page {

		.product {

			.woocommerce-product-gallery {
				width:90% !important;
			}

			.summary {
				width:90% !important;
			}
		}

		.qty {
			margin-bottom:10px;
		}
	}
}


// 767px And Below
@media screen and (max-width: 767px){
	.single-product-page {

	}
} //End 767px